.card{
    margin: 5px 5px !important;
    min-width: 300px;
}

.footer{
    display: block;
    height: auto;
}
.planet{
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    shape-outside: circle();
    clip-path: circle();
    background: transparent;
}